* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgba(237, 228, 221, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.content {
    min-height: 80px;
    background: linear-gradient(98deg,
            rgba(167, 92, 69, 255)0%,
            rgb(160, 93, 72)70%);
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #d63e3e;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: rgba(249, 246, 243, 255);
    display: block;
    line-height: 2.1;
    font-weight: 400;
}

.menu .navbar ul li a:hover {
    color: #583a27;
}

#menu {
    display: none;
}

.menu-icono {
    width: 70px;
}

.menu label {
    cursor: pointer;
    display: ;
}

h1{
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 10px 15px 5px 15px;
    font-size: 300%;
    color: rgba(145,104,87,255);
    justify-content: center;
    text-align: center;
}

h2{
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 10px 15px 5px 15px;
    font-size: 250%;
    color: rgba(145,104,87,255);
    font-style: oblique;
    font-weight: bold;
}

h3 {
    font-style: oblique;
    color: #706b6b;
}

iframe {
    justify-content: center;
    align-items: center;
    padding: 15px;
}
#idpie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.pie p {
    color: rgb(177, 174, 174);
    text-align: right;
}

.pie ul {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px;
    list-style: none;
}

.pie li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8937b;
    width: 50px;
    height: 50px;
    margin: 5px;
    color: white;
    border-radius: 50%;
    transition: all 0.3s;
}

.pie li a:hover {
    background-color:rgb(190, 187, 187);
    transform: translateY(-10px) ;
    transition: all 0.3s;
}

@media(max-width:991px) {
    .content {
        min-height: 70px;
    }

    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(98deg,
                rgba(167, 92, 69, 255)0%,
                rgb(160, 93, 72)70%);
        display: none;
        ~
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }
    .pie{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .piecopy{
        width: 400px;
    }    
}
@media (min-width:600px){

}
@media (min-width: 768px){
    .pie{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-top: 30px;
    }
    .piecopy{
        margin-left: 80px;
    }
    #arriba{
        margin-left: 7%;
    }
}
@media (min-width: 1024px){
    .piecopy{
        width: 500px;
    }    
    .footer{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .footer hr{
        display: none;
    }
    .footer_logo p{
        width: 250px;
    }
    .caja_footer_img{
        display: flex;
        flex-direction: row;
    }
    .footer_img button{
        margin-top: 15px;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 0%;
}

.portada img {
    border: 1px solid bisque;
    width: 100%;
    height: auto;
}

hr{
    border: 0.5px solid rgb(243, 243, 229);
}
#section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

#section1 img {
    border-radius: 2%;
    margin-left: 20%;
    margin-right: 5%;
}

#section1 p {
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
    text-align: justify;
    color: rgb(129, 126, 126);
    background-color: whitesmoke;
    border-radius: 2%;
}

.content-container {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 5%;
}

.caja1 {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-basis: 0;
    justify-content: space-between;
    width: 220px;
    height: 270px;
    text-align: center;
    margin: 5px;
    padding: 15px;
    flex-grow: 25%;
    border-radius: 10px;
    box-shadow: -3px 3px 3px 3px lightgray;
    align-content: center;
    font-size: 14px;
    transition-duration: 0.5s;
    background-color: rgba(249, 246, 243, 255);
}

.caja1:hover {
    box-shadow: -5px 5px 5px 5px lightgray;
    background-color: #c8937b;

}
#receta{
    display: flex;
    flex-direction: row;
    margin-top: 2%; 
    color: rgb(129, 128, 128);
}
#Panqueques {
    background-image: url(/images/panqueques.png);
    background-size: 100%;
    padding-bottom: 2%;
}
#ÑoquisCalabaza {
    background-image: url(/images/ñoquiscalabaza.png);
    background-size: 100%;
    padding-bottom: 2%;
}
#ÑoquisEspinaca {
    background-image: url(/images/ñoquisespinaca.png);
    background-size: 100%;
    padding-bottom: 2%;
}
#PastaBrocoli {
    background-image: url(/images/pastasbrocoli.png);
    background-size: 100%;
    padding-bottom: 2%;
}

.ingredientes {
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    text-align: left;
    width: fit-content;
    height: fit-content;
    margin-left: 25px;
    margin-right: 10px;
    border-radius: 5%;
}

.preparacion {
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    margin-right: 25px;
    border-radius: 3%;
}